<strong>Olá, {{ organizerName }}</strong>
<p>Houve uma inscrição em sua meetup! Confira os detalhes abaixo:</p>
<p>
  <strong>Meetup: </strong> {{ meetupTitle }} ({{ meetupDate }}) <br />
  <strong>Participante: </strong> {{ subscriberName }} <br />
  <strong>Email: </strong> {{ subscriberEmail }} <br />
  <br />
  <small>
    Para mais detalhes, confira a lista de participantes no relatório do meetup.
  </small>
</p>
